<mat-card>
  <h1>Hello World!</h1>
  <p>This is a simple project with the pourpose of grouping ideas and exposing them in a way that people can use to turn into real things!</p>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <h2>Contributing</h2>
  <p>Contributing to this project is easy. You can do it in 3 possible ways: </p>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          1. Exposing your project idea.
        </mat-panel-title>
      </mat-expansion-panel-header>    
      <p>Fork this repository, go to <b>src/data/projects.ts</b> and fill the details of your project in the end of the file. Please be very descriptive so other people can clearly understand.</p>    
    </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          2. Turning someone else's project into reality.
        </mat-panel-title>
      </mat-expansion-panel-header>    
      <p>Fork this repository, go to <b>src/data/projects.ts</b>, find the project you aim to start developing and put the repository url in the appropriate field.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          3. Enhancing this project
        </mat-panel-title>
      </mat-expansion-panel-header>    
      <p>If you think there's something that can become better about this project, make a pull request!</p>    
  </mat-expansion-panel>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="alert-card">
  <p><strong>WARNING! </strong> 
    If you make pull requests that don't match with any of the items above or are obvious ways to count pull requests for Hacktoberfest without any real contribution, I'll mark them as SPAM!
</mat-card>
